<!DOCTYPE html>
html(lang="es")
   head
       meta(charset="UTF-8")
       title Login
       link(rel="stylesheet", href="estilos.css")
   body
      form(action="", method="post")
         input(name="nombre" maxlenght="30")
         button(type="submit" formaction="entrar") Entrar
         button(type="submit" formaction="registrar") Registrar
      p #{mensaje}  
