<!DOCTYPE html>
html(lang="es")
   head
      meta(charset="UTF-8")
      title sala de espera
      link(rel="stylesheet", href="estilos.css")
   body(onload = "enviarNombre('" + nombre + "')")
      h1 Hola #{nombre}
      h2 Jugadores conectados
      ul(id="jugadores")
      button(id="inicio") Inicio
      div(id="teg")
      div(id="turno")
      div(id="cartaGlobal")
      div(id="jugador")
      div(id="objetivo")
      div(id="dadosA")
      div(id="dadosD")
      div(id="cartaPais" style="float: left; width: 50%")
      div(id="cartaContinente" style="width: 50%")
   script(src="/socket.io/socket.io.js")
   script(src="salaEspera.js")