<!DOCTYPE html>
html(lang="es")
   head
      meta(charset="UTF-8")
      title sala de espera
      link(rel="stylesheet", href="estilos.css")
   body(onload = "enviarNombre('" + nombre + "')")
      h1 Hola #{nombre}
      h2 Jugadores conectados
      ul(id="jugadores")
      ul
      button(id="inicio") Inicio
      div(id="mapa")
   script(src="/socket.io/socket.io.js")
   script(src="salaEspera.js")