body{
    background-color: teal;
   
}

ul{
    background-color: cornsilk;
}

#teg{
    position: relative;
}

[id^='-f'], [id^='-m']{
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
}
.bienvenida{
    color:blue;
    text-align: center;
}
.form{
    border:2px solid aqua;
    width: 250px;
    margin:0 40% ;
    padding: 5px;
    background-color: chartreuse;
    border-radius: 3px;
}